<h1 style="margin-bottom:25px;">MakerScore</h1>
<div class="curriculum-details" topic-group>
  <div class="subjects">
    Overall: <score score="{{score}}" completion="{{completion}}"></score>
    <div ng-repeat="(subject, scores) in subject_scores">
      <span ng-show="scores.completion > 0">{{subject}}: <score score="{{scores.score}}" completion="{{scores.completion}}"></score></span>
    </div>
  </div>

  <week ng-repeat='week in units' number="{{week.number}}" description="{{week.description}}">
    <topic ng-repeat='topic in week.topics' subject="{{topic.subject}}">{{topic.description}}</topic>
  </week>


</div>
